{
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true,
    "crypto": true
  },
  "parser": "./node_modules/babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [
      "error",
      "double"
    ]
  }
}
